{% extends 'base.html' %} {% block title %} Info {% endblock %} {% block
menu_items %} {% if session.response_data %}
<a class="nav-item nav-link" href="/">Home</a>
<a class="nav-item nav-link" href="/brokensongs">Broken Songs</a>
<a class="nav-item nav-link" href="/showplaylists">Show Playlists</a>
<a class="nav-item nav-link" href="/allsongs">All Songs</a>
<a class="nav-item nav-link active" href="/fix">Playlist Fixer</a>
<a class="nav-item nav-link" href="/logout">Logout</a>
{% else %}
<a class="nav-item nav-link" href="/">Home</a>
<a class="nav-item nav-link" href="/login">Log In</a>
{% endif %} {% endblock %} {% block main %}
<h1>fixify | Info</h1>
<p>
  This project was created in response to Spotify's removal of many
  Hindi-language songs in March of 2023. I searched for a quick solution, but
  having found none, I decided to create one on my own! Please enjoy while the
  project is still in development
</p>
<p>
  Some of the code and methods were inspired by Jefferson Yu's
  <a href="https://github.com/JeffersonYu1/importify"> Importify</a>.
</p>
<p>
  Python library for Spotify Web API provided by
  <a href="https://spotipy.readthedocs.io/en/2.19.0/" target="_blank"
    >Spotipy</a
  >
</p>
{% endblock %}
