{% extends 'base.html' %} {% block title %} Playlist Fixer {% endblock %} {%
    block menu_items %}
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/info">Info</a>
    <a class="nav-item nav-link" href="/showplaylists">Show Playlists</a>
    <a class="nav-item nav-link" href="/allsongs">All Songs</a>
    <!-- <a class="nav-item nav-link" href="/brokensongs">Broken Songs</a> -->
    <!-- <a class="nav-item nav-link active" href="/songdownloader">Song Downloader</a> -->
    <a class="nav-item nav-link" href="/songfixer">Song Fixer</a>
    <a class="nav-item nav-link" href="/logout">Logout</a>
    {% endblock %}
    
