{% extends 'base.html' %} {% block title %} Show Playlists {% endblock %} {%
block menu_items %}
<a class="nav-item nav-link" href="/">Home</a>
<a class="nav-item nav-link" href="/info">Info</a>
<a class="nav-item nav-link" href="/showplaylists">Show Playlists</a>
<a class="nav-item nav-link" href="/allsongs">All Songs</a>
<a class="nav-item nav-link" href="/brokensongs">Broken Songs</a>
<a class="nav-item nav-link" href="/songdownloader">Song Downloader</a>
<a class="nav-item nav-link" href="/fix">Playlist Fixer</a>
<a class="nav-item nav-link" href="/logout">Logout</a>
{% endblock %} {% block main %}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Spotify ID</th>
      <th>Playable</th>
      <th>Youtube Video Name</th>
    </tr>
  </thead>
  <tbody>
    {%for track in tracks %}
    <tr>
      <td>{{track['name']}}</td>
      <td>{{track['artist']}}</td>
      <td>{{track['id']}}</td>
      <td>{{track['playable']}}</td>
      <td>
        <a
          href="https://www.youtube.com/watch?v={{ track['video_id'] }}"
          target="_blank"
          >{{track['video_name']}}</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
